h1, h2 {
  font-family: "PT Serif", "Times New Roman", serif;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: #f1f1f1;
  font-size: 16px;
}

a {
  color: #1100ff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #398dff;
}

.contact-form__input-name label, .contact-form__input-email label, .contact-form__input-message label {
  display: block;
  font-size: 14px;
  color: #86898f;
}
.contact-form__input-name input,
.contact-form__input-name textarea, .contact-form__input-email input,
.contact-form__input-email textarea, .contact-form__input-message input,
.contact-form__input-message textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
  color: #000;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
}

.info {
  text-align: center;
  display: block;
  margin-bottom: 20px;
}
.info-text {
  margin-left: 20px;
}
.info-text h4 {
  margin-bottom: 10px;
}

#photo {
  width: 300px;
  border-radius: 23px;
  -webkit-box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}
.card h2 {
  margin-bottom: 10px;
}

.bg-lightblue {
  background: #E5F9FF;
}

.bg-blue {
  background: #E5E5FF;
}

.bg-pink {
  background: #ffe8f2;
}

.container {
  padding-top: 30px;
  width: 100%;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 800px;
  }
}

.list {
  padding: 0 20px;
  list-style: url("https://i.ibb.co/wsHNbMB/icons8-star-16.png");
}
.list li {
  margin-bottom: 10px;
}

.experience-table {
  width: 100%;
}
.experience-table td {
  padding-bottom: 10px;
}

.btn {
  background: #fdcb99;
  padding: 15px 20px;
  color: #000000;
  border: none;
  font-family: inherit;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.specific-skillbar {
  width: 100%;
  background-color: #e3e3e3;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.2);
}

.skills {
  text-align: right;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #ffffff;
  font-weight: 600;
  border-radius: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.html {
  width: 80%;
  background-color: #ff710d;
}

.css {
  width: 70%;
  background-color: #4060ff;
}

.js {
  width: 60%;
  background-color: #515700;
}

.python {
  width: 85%;
  background: -webkit-gradient(linear, left top, right top, from(#fff424), to(#3f59b4));
  background: linear-gradient(to right, #fff424, #3f59b4);
}

.collapsible {
  background-color: #ffc5ad;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.collapsible.active, .collapsible:hover {
  background-color: #ff9e64;
}

.content {
  padding: 0 18px;
  display: block;
  overflow: hidden;
  background-color: #f1f1f1;
}

@media (min-width: 768px) {
  .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
  #photo {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .contact-form__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact-form__row__input-name, .contact-form__row__input-email {
    width: 50%;
    margin-right: 20px;
  }
}